extends layout
block content
  h3= title
  form#add(name="addnew" , method="post" , action="addinfo")
    span Name
    span &nbsp;
    input#name(type="text" placeholder="Full Name" name="name")
    br
    br
    span Age
    span &nbsp;
    input#name(type="number" placeholder="Age" name="age")
    br
    br
    button#submit_form(type="submit") Submit
