extends layout

block content
  h1 Hi!
  br
  p Welcome to my node-mongo simple database site. Please add the page name after '/'
  br
  p "info" => Shows the list of informations
  br
  p "add" => Add new record
